[submodule "rtt"]
	path = rtt
	url = https://github.com/jhu-lcsr-forks/rtt.git
[submodule "ocl"]
	path = ocl
	url = https://github.com/jhu-lcsr-forks/ocl.git
[submodule "orogen"]
	path = orogen
	url = https://github.com/jhu-lcsr-forks/orogen.git
[submodule "typelib"]
	path = typelib
	url = https://github.com/orocos-toolchain/typelib.git
[submodule "utilmm"]
	path = utilmm
	url = https://github.com/orocos-toolchain/utilmm.git
[submodule "utilrb"]
	path = utilrb
	url = https://github.com/jhu-lcsr-forks/utilrb.git
[submodule "log4cpp"]
	path = log4cpp
	url = https://github.com/orocos-toolchain/log4cpp.git
[submodule "rtt_typelib"]
	path = rtt_typelib
	url = https://github.com/orocos-toolchain/rtt_typelib.git
