[submodule "rtt"]
	path = rtt
	url = ../rtt
[submodule "ocl"]
	path = ocl
	url = ../ocl
[submodule "orogen"]
	path = orogen
	url = ../orogen
[submodule "typelib"]
	path = typelib
	url = https://github.com/orocos-toolchain/typelib.git
[submodule "utilmm"]
	path = utilmm
	url = ../utilmm.git
[submodule "utilrb"]
	path = utilrb
	url = ../utilrb
[submodule "log4cpp"]
	path = log4cpp
	url = https://github.com/orocos-toolchain/log4cpp.git
[submodule "rtt_typelib"]
	path = rtt_typelib
	url = https://github.com/orocos-toolchain/rtt_typelib.git
